name: Dependabot Auto Merge

on:
  workflow_dispatch:
  schedule:
    - cron: "0 9 * * 1-5"

concurrency:
  group: ${{ github.workflow }}${{ github.ref_name != github.event.repository.default_branch && github.ref || github.run_id }}
  cancel-in-progress: ${{ github.ref_name != github.event.repository.default_branch }}

permissions:
  pull-requests: write
  id-token: write

jobs:
  auto-merge:
    name: Auto merge
    uses: getyourguide/actions/.github/workflows/dependabot-merge.yml@main
    secrets: inherit
    with:
      slack_ping_support: true
