name: Dependabot Approve

on:
  pull_request:
    types: [opened, synchronize]

concurrency:
  group: ${{ github.workflow }}${{ github.ref_name != github.event.repository.default_branch && github.ref || github.run_id }}
  cancel-in-progress: ${{ github.ref_name != github.event.repository.default_branch }}

permissions:
  contents: read
  pull-requests: write

jobs:
  auto-approve:
    name: Approve PR
    uses: getyourguide/actions/.github/workflows/dependabot-approve.yml@main
    with:
      pr-url: ${{ github.event.pull_request.html_url }}
